body {
  margin: 0;
  padding: 0;
  background-color: rgba( 0, 0, 0, .9 );
}

/* box-sizing property is not inherited */
* {
  box-sizing: border-box; 
}

#credits {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  background-color: rgba( 0, 0, 0, .4 );
  padding: 10px;
  z-index: 98;
}
#credits p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 13px;
}
#credits a {
  color: white;
}


