#proverb-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#options {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  max-width: 900px;
  position: relative;
  z-index: 4;
}
#show-quotes, #show-proverbs {
  position: relative;
  border: 1px solid gray;
  border-radius: 6px;
  color: white;
  background-color: rgba( 0, 0, 0, .6 );
  margin-bottom: 20px;
  padding: 12px;
  cursor: pointer;
  z-index: 4;
}
#show-quotes:hover, #show-proverbs:hover,
#next:hover, #next-quote:hover {
  background-color: rgba( 0, 0, 0, .9 );
}
#proverb-quote {
  position: relative;
  width: 80vw;
  max-width: 900px;
  border: 1px solid gray;
  color: white;
  background-color: rgba( 0, 0, 0, .6 );
  padding: 10px;
  z-index: 4;
}
#proverb {
  position: relative;
  text-align: center;
  font-size: 1.2em;
  z-index: 4;
}
#proverb.largefont {
  font-size: 2em;
}
#author {
  position: relative;
  text-align: right;
  margin-left: auto;
  z-index: 4;
}
#next, #next-quote {
  position: relative;
  border: 1px solid gray;
  border-radius: 6px;
  color: white;
  background-color: rgba( 0, 0, 0, .6 );
  margin-top: 20px;
  padding: 20px;
  cursor: pointer;
  z-index: 4;
}
#next-quote {
  display: none;
}
div#options div.active {
  color: #cccccc;
  background-color: rgba( 0, 0, 0, .9 );
}
