#proverb-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#proverb {
  position: relative;
  width: 80vw;
/*   height: 60px; */
  border: 1px solid gray;
  padding: 10px;
  color: white;
  background-color: rgba( 0, 0, 0, .6 );
  font-size: 2em;
  text-align: center;
  z-index: 4;
}
#next {
  position: relative;
  border: 1px solid gray;
  border-radius: 6px;
  color: white;
  background-color: rgba( 0, 0, 0, .6 );
  margin-top: 20px;
  padding: 20px;
  cursor: pointer;
  z-index: 4;
}